@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.container {
    margin: 0 auto;
    max-width: 800px;
    }
    
    .company-info {
    display: flex;
    align-items: start;
    justify-content: right;
    }
    
    .company-info img {
    max-width: 200px;
    margin-right: 20px;
    }
    
    .company-info .info {
    font-size: 20px;
    line-height: 1.5;
    }
    