@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.dump-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}