@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.main-title-holder{
    background-color: rgb(120, 0, 0, 0.8);
    padding: 30px;
}

.main-title-holder>h1{
    text-align: center;
    color: #FAFAFA;
    font-family: 'Courgette', cursive;
}

.main-title-holder>h2{
    text-align: center;
    color: #AAAA ;
}

